# macOS
.DS_Store
# IDE
.vscode/
.idea/
# Build
**/build/
build/
*.o
*.a
*.out
*.exe
# ESP-IDF
*.bin
*.elf
*.map
sdkconfig.old
sdkconfig
managed_components/
.espressif/
# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
# Python
*.pyc
__pycache__/
dist/
# Windows
Thumbs.db
Desktop.ini
